* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 80px;
  padding: 0 2em;
  background-color: rgba(46, 71, 204, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 4.5rem;
  color: rgba(255, 255, 255, 1);
}

#nav-links {
  list-style: none;
  display: flex;
  transition: all 0.2s ease-in-out;
}

#nav-links li a {
  display: block;
  color: #fff;
  padding: 0.5em 1em;
  font-size: 1.8rem;
  text-decoration: none;
}

#nav-links li:last-child a {
  border-radius: 0.5em;
  background-color: rgba(26, 43, 129, 1);
}

#nav-links li a:hover {
  border-radius: 0.5em;
  background-color: rgba(87, 108, 216, 1);
}

/* Skjuler alle knapper */

#toggle-nav,
#toggle-nav-btn-open,
#toggle-nav-btn-close {
  display: none;
}

/* styling af knapper */
#toggle-nav-btn-open,
#toggle-nav-btn-close {
  font-size: 4rem;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 768px) {
  #nav-links {
    position: absolute;
    height: calc(100% - 80px);
    opacity: 0;
    width: 50%;
    top: 80px;
    left: -100%;
    background-color: rgba(46, 71, 204, 1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0px 20px rgba(26, 43, 129, 1);
    z-index: -1;
  }

  /* Viser menu vec checkrd. */
  #toggle-nav:checked ~ #nav-links {
    display: block;
    opacity: 1;
    left: 0;
  }

  /* Viser burger menu */
  #toggle-nav-btn-open {
    display: inline-block;
  }

  /*
  Mac: ~  = Option + ^
  Pc: ~ =   Alt gr + ~ [space]
  */

  /* Viser luk knappen */
  #toggle-nav:checked ~ label #toggle-nav-btn-close {
    display: inline-block;
  }

  /* Skjuler burger menu når menuen er åben. */
  #toggle-nav:checked ~ label #toggle-nav-btn-open {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #nav-links {
    width: 100%;
  }
}
